*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background: rgb(235, 234, 234);
    height: 80px;
    width: 100%;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
    position:fixed;
    top: 0px;
    z-index: 1000;
}
.logo {
    width: 250px;
    height: auto;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 30px;
}
nav ul {
    list-style: none;
    float: right;
    margin-right: 20px;
}
nav ul li {
    list-style: none;
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: none;
    background-color: initial;
    color: rgb(4, 163, 184);
}
nav ul li a::after{
    content: '';
    height: 3px;
    width: 0;
    background: rgb(42, 179, 0);
    position: absolute;
    left: 0;
    bottom: 0px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.menu-icon{
    padding-top: 15px;
    padding-right: 10px;
    float: right;
    margin-right: 20px;
    font-size: 30px;
    color: black;
    display: none;
    cursor: pointer;
}

#check {
    display: none;
}
@media (max-width: 952px){
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .menu-icon{
        display:block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background:rgb(219, 217, 217);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    #check:checked ~ ul {
        left: 0;
    }
}

.foot-container {
    background-color: rgb(27, 27, 27);
    color: white;
    display: grid;
    padding: 30px;
    gap: 20px;
    text-align:justify;
}
.foot-container a{
    text-decoration:none;
    color: white;
}
.foot-head h2{
    margin-top: 60px;
    margin-left: 100px;
    color: white;
}
.foot-head h5{
    margin-left: 5%;
}

.foot-container h3{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.foot-container h3::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: rgb(42, 179, 0);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.about, .legal{
    margin-left: 100px;
    color: white;
    position: relative;
}

.about a:hover{
    color: rgb(4, 163, 184) ;
}
.legal a:hover{
    color: rgb(4, 163, 184) ;
}

.socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.socials a {
    background-color: #333;
    color: #fff;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin: 5px;
    transition: background-color 0.3s ease;
}
.socials a:hover {
    color:  rgb(4, 163, 184);
}
.follow{
    padding: 50px;
    margin-left: 50px;
}

@media (max-width: 575px) {
    .foot-container .row {
      flex-direction: column;
      align-items: center;
    }
    .socials {
      margin-top: 20px;
    }
  }
  
@media (max-width: 767px) {
    .foot-container .row {
      flex-wrap: wrap;
    }
  
    .about,
    .legal {
      margin-left: 100px;
      margin-top: 20px;
      text-align: left;
    }
  
    .socials {
      margin-top: 0;
    }
  }
  
  @media (max-width: 991px) {
    .socials .row {
      flex-direction: column;
    }
    .socials {
        margin-top: 0;
    }
  }
  @media (max-width: 575px){
    .socials .row {
        flex-direction: row;
      }
      .socials {
        margin-top: 0;
    }
  }
  
.video-ads {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    margin-bottom: 80px;
    margin-top: 50px;
}

.video-ads iframe {
    width: 100%;
    height: 500px;
}
@media (max-width: 991px){
    .video-ads iframe {
        width: 100%;
        height: 500px;
    }
    .responsive {
        margin-top: -50px;
    }
}
@media (max-width: 767px){
    .video-ads iframe {
        width: 600px;
        height: 400px;
    }
    .responsive {
        margin-top: 10px;
    }
}
@media (max-width: 575px){
    .video-ads iframe {
        width: 450px;
        height: 300px;
    }
    .responsive {
        margin-top: 20px;
    }
}
.overview-section{
    padding-bottom: 80px;
    margin-top: 40px;
    padding-top: 40px;
    text-align: left;
    background-color: rgb(248, 247, 247);
}
.overview-section h2{
    margin-left: 20%;
}

.overview-section p{
    margin-left: 20%;
    width: 60%;
    text-align: justify;
    text-justify: auto;
    justify-content: baseline;
}
.hero-section{
    text-align: center;
    padding-top: 40px;  
    font-size: x-large;
    background-color: rgb(248, 247, 247);
}
.hero-section p{
    margin-left: 20%;
    width: 60%;
    text-align: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px,auto));
    align-items: center;
    gap: 2rem;
    text-align: center;
    cursor: pointer;
    padding-top: 2rem;
}

.box{
    padding: 0px 20px 10px 20px;
    background: transparent;
    box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
    border-radius: 10px;
    position: relative;
    transition: all .35s ease;
}

.box img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    padding-top: 30px;
  }

.box h4{
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.box h5{
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.box:hover{
    transform: translateY(-8px);
}
.header-title {
    margin-left: 15%;
    margin-top: 50px;
    margin-bottom: 20px;
}

.responsive {
    width: 100%;
    max-width: 1990px;
    height: auto;
}